{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import"],
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "import/extensions": ["error", "never", { "packages": "always" }],
    "no-underscore-dangle": "off",
    "func-names": "off",
    "max-classes-per-file": "off",
    "max-len": ["error", 140],
    "linebreak-style": ["error"],
    "import/prefer-default-export": "off",
    "prettier/prettier": "error"
  }
}
